{% import "macros.html" as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous"
              referrerpolicy="no-referrer">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
              integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>
    {% endblock %}
    {% block additional_styles %}
    {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="32x32">

    <title>NANPOS Web</title>
</head>
<body class="d-flex h-100 flex-column">
<header>
    {% block header %}
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container">
                <a href="{{ url_for('main.index') }}" class="navbar-brand">
                    <i class="fa-solid fa-cash-register me-3 d-inline-block align-text-top"></i>
                    NANPOS Web{% if session.get('terminal', False) %} Terminal{% endif %}
                </a>

                <ul class="nav col-auto d-flex text-dark text-decoration-none align-items-center fs-5">
                    {% block pagetitle %}{% endblock %}
                </ul>

                <ul class="nav col-auto ms-auto justify-content-end">
                    {% block infobar %}
                    {% endblock %}
                </ul>

                <div class="col-auto ms-3 text-end">
                    {% block additional_buttons %}
                    {% endblock %}
                    {% if current_user.is_authenticated %}
                        {% if current_user.isop %}
                            <div class="btn-group me-2" role="group">
                                <button id="admin_dropdown" type="button"
                                        class="btn btn-outline-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="admin_dropdown">
                                    <li><a class="dropdown-item" href="{{ url_for('admin.users.index') }}">Users</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="{{ url_for('admin.products.index') }}">Products</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="btn-group me-2" role="group">
                            <button id="account_dropdown" type="button"
                                    class="btn btn-outline-primary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="account_dropdown">
                                <li><a class="dropdown-item" href="{{ url_for('account.index') }}">Revenues</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('account.card') }}">Change Card</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('account.pin') }}">Change PIN</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="btn-group me-2" role="group">
                        <button id="util_dropdown" type="button"
                                class="btn btn-outline-primary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Utils
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="account_dropdown">
                            <li><a class="dropdown-item" href="#">Bank Account</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('utils.qr') }}">QR-Code</a></li>
                        </ul>
                    </div>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" role="button" class="btn btn-primary">Logout</a>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}" role="button" class="btn btn-primary">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}
</header>

<div class="position-fixed top-0 start-50 translate-middle-x mt-5" style="z-index: 10000">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'message' %}
                {% set category = 'primary' %}
            {% endif %}
            {% if category == 'danger' %}
                {% set name = 'error' %}
            {% elif category == 'primary' %}
                {% set name = None %}
            {% else %}
                {% set name = category %}
            {% endif %}
            <div class="alert alert-{{ category }} alert-dismissible fade show text-center" id="alert" role="alert">
                {% if name is not none and name != '' %}
                    <strong class="me-2">{{ name | capitalize }}!</strong>
                {% endif %}
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endwith %}
</div>

<main>
    {% block main %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</main>

{% if session.get('terminal', False) == False %}
    <footer class="footer fixed-bottom py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-auto text-muted">Version {{ version }}.</div>
                <div class="col-auto text-muted">Build with <i class="fa-solid fa-heart"></i> & <i
                        class="fa-solid fa-mug-hot"></i> by <a href="https://twitter.com/ds_rimpf">domrim</a>.
                </div>
                <div class="col-auto text-muted">Released under the <a
                        href="https://gitlab.com/domrim/nanposweb/-/blob/main/LICENSE">MIT License</a>.
                </div>
                <div class="col-auto text-muted">Code availiable on <a
                        href="https://gitlab.com/domrim/nanposweb">Gitlab</a>.
                </div>
            </div>
        </div>
    </footer>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js"
        integrity="sha512-cyAbuGborsD25bhT/uz++wPqrh5cqPh1ULJz4NSpN9ktWcA6Hnh9g+CWKeNx2R0fgQt+ybRXdabSBgYXkQTTmA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let alertNodes = document.querySelectorAll('#alert')
        let timeout = 4000
        let additionalTimeout = 2000
        alertNodes.forEach(function (node, i) {
            let alert = new bootstrap.Alert(node)
            setTimeout(function () {
                alert.close()
            }, (timeout + i * additionalTimeout))
        })
    })
</script>
{% if session.get('terminal', False) and request.endpoint != 'auth.login' and config.TERMINAL_LOGOUT_TIMEOUT is not none %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let target = "{{ url_for('auth.logout') }}"
            let timeout = {{ (config.TERMINAL_LOGOUT_TIMEOUT | int) * 1000 }}
                setTimeout(function () {
                    window.location.href = target
                }, timeout)
        })
    </script>
{% endif %}
</body>
</html>
