{% extends 'base.html' %}
{% block pagetitle %}QR-Code Generator{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form class="w-50" method="post" action="{{ url_for('utils.download') }}">
            {{ form.csrf_token }}
            {{ macro.render_field(form.username) }}
            {{ macro.render_field(form.pin) }}
            <div class="row mt-3">
                {{ form.download_png(class="col mx-3 btn btn-success") }}
                {{ form.download_pass(class="col mx-3 btn btn-success") }}
                <a role="button" href="{{ url_for('main.index') }}" class="col mx-3 btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
